.signin-body {
    background-color: #e6f2ff;
}

.container.signin-container {
    margin-top: 8%;
}

.card.signin-card {
    padding: 40px 0px 20px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

img.signin-image {
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
    /* width: 50%; */
}

form.signin-form {
    max-width: 350px;
    margin: auto;
}

button.signin-btn {
    width: 100%;
    margin-bottom: 1.2rem;
}

a.create-new-account {
    font-size: 1.2rem;
    text-align: center;
    display: block;
    margin-top: 15px;
}